<test *ifViewportSize="'small'" [value]="1"></test>
<test *ifViewportSize="'medium'" [value]="2"></test>
<test *ifViewportSize="'large'" [value]="3"></test>

<ng-container *ngFor="let item of list">
  <!-- <test *ifViewportSize="'small'" [value]="1"></test>
  <test *ifViewportSize="'medium'" [value]="2"></test>
  <test *ifViewportSize="'large'" [value]="3"></test> -->
  <hello *ifViewportSize="'small'"name="Denis"></hello>
  <hello *ifViewportSize="'medium'" name="Tanya"></hello>
  <hello *ifViewportSize="'large'" name="Tanya+Denis"></hello>


</ng-container>